extends ../layouts/default

block main
  h1 #{title}

block content
  p #{aProcess.comments}
  if (aProcess.tags)
    .tags
      | Tags :&nbsp;
      each tag in aProcess.tags.split(',')
        span.tag
          i.icon-tags
          |  #{tag}
  br
  if (defaultA)
    //
      p.text-error TODO : Graph image
    img(src=aProcess.image)

  if (!defaultA)
    h4 Phases
    hr
    each phase in aProcess.phases
      .phase
        a.title(href='/phases/'+phase._id, title=phase.name) #{phase.name}
        p=phase.comments
      hr

  p
    br
  if (defaultA)
    a.btn.btn-primary(href=aProcess._id+"/new", title="instantiate") Instantiate
