extends ../layouts/default

block content
  - var action
  if (!technique.isNew)
    - action = '/techniques/' + technique._id
  else
    - action = '/phases/'+phase._id

  if (typeof errors !== 'undefined')
    .fade.in.alert.alert-block.alert-error
      a.close(data-dismiss="alert", href="javascript:void(0)") x
      ul
        each error in errors
          li= error.type

  .row
    .span7
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data")
        input(type='hidden', name='_csrf', value="#{csrf_token}")

        if (!technique.isNew)
          input(type="hidden", name="_method", value="PUT")
        else 
          input(type="hidden", name="phase", value="#{phase._id}")

        .control-group
          label.control-label(for='title') Title
          .controls
            input#title.input-xlarge(type='text', name="title", value=technique.title, placeholder='Enter the title')

        .control-group
          label.control-label(for='desc') Body
          .controls
            textarea#desc.input-xlarge(type='text', rows="5", name="body", placeholder='Enter the technique description')=technique.body
            
        .control-group
          label.control-label(for='tags') Tags
          .controls
            input#tags(type='text', name="tags", value=technique.tags, placeholder='Enter the tags')
       
        if (technique.isNew)
          .control-group
            label.control-label(for='prev') Previous
            .controls
              each atechnique in techniques
                label.checkbox
                  input(type='checkbox', name="previous", value=atechnique._id)
                  | #{atechnique.title}
        else
          .control-group
            .controls
                label.checkbox
                  if (!technique.finishedAt)
                    input(type='checkbox', name="finished", value="finished")
                    | Finished
                  else
                    input(type='checkbox', name="finished", value="finished", checked="true", disabled)
                    | Finished

         

        .form-actions
          button.btn.btn-primary(type='submit') Start
          &nbsp;
          a.btn(href=action, title="cancel") Cancel