extends ../layouts/default

block main
  h1= technique.title

block content
  ul.breadcrumb
    li
      a(href="/processes") Processes
    li
      a(href="/processes"+process_item._id) #{process_item.name}
    li
      a(href='/processes/'+process_item._id+'/'+ phase._id) #{phase.name}
    li.active #{technique.title}
  p=technique.body
  p.author
    span Author :&nbsp;
    span=technique.user.name
  p.date= 'Created at : ' + formatDate(technique.createdAt, "%b %d, %Y at %I:%M %p")
  if (technique.finishedAt)
    p.date= 'Finished at : ' + formatDate(technique.finishedAt, "%b %d, %Y at %I:%M %p")
  if (technique.tags)
    .tags
      | Tags :&nbsp;
      each tag in technique.tags.split(',')
        span.tag
          i.icon-tags
          |  #{tag}
  hr
  - var o = technique.others
  if o && o.files
    each val, key in o.files
      h4=key
      each file in o.files[key]
        - var filename = file.split('/')
        - var index = filename.length - 1
        i.icon-file
        a(href=file) #{filename[index]}
        br
                  
  p
    br
    form.center.form-inline.confirm(action='/processes/'+process_item._id+'/'+phase._id+"/"+technique.id, method="post")
      input(type='hidden', name='_csrf', value="#{csrf_token}")
      if (!technique.finishedAt)
        a.btn.btn-default(href='/processes/'+process_item._id+'/'+phase._id+'/'+technique._id+'/' + technique.type + '/edit', title="edit") Edit
        &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit", value="delete") Delete