extends ../layouts/default

block main
  h1= technique.title

block content
  .row
    .span9
      p=technique.body
      p.author
        span Author :&nbsp;
        span=technique.user.name
      .date= formatDate(technique.createdAt, "%b %d, %Y at %I:%M %p")
      if (technique.tags)
        .tags
          | Tags :&nbsp;
          each tag in technique.tags.split(',')
            span.tag
              i.icon-tags
              |  #{tag}
          
  p
    br
    form.center.form-inline.confirm(action="/techniques/"+technique.id, method="post")
      a.btn(href='/techniques/'+technique._id+'/edit', title="edit") Edit
      &nbsp;&nbsp;
      input(type="hidden", name="_method", value="DELETE")
      button.btn.btn-danger(type="submit") delete