extends ../layouts/default

block main
  h1 Techniques for #{phase.name}

block content
  ul.breadcrumb
    li
      a(href="/processes") Processes
    if(process_item)
      li
        a(href="/processes/" + process_item._id) #{process_item.name}
    li.active #{phase.name}

  each technique in techniques
    .technique
      a(href='/processes/'+process_item._id+'/'+phase._id+'/'+technique._id, title=technique.title) #{technique.title}
      p=technique.body
      .author
        span= formatDate(technique.createdAt, "%b %d, %Y at %I:%M %p")
        | &nbsp;|&nbsp;
        if (technique.tags)
          span.tags
            span Tags :&nbsp;
            each tag in technique.tags.split(',')
              i.icon-tags
              a.tag(href="/tags/"+tag) #{tag}
    hr
